@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div class="container-fluid px-3">
    <div class="d-flex justify-content-center">
        <div class="col-5">
            <div class="p-3 w-50 text-capitilize"><h2 class="fw-bold">Se parte de nuestra comunidad</h2></div>
            <div class="p-3 w-50 text-capitalize">
                <h3 class="fw-bold">marketing y comunicacion</h3>
                <div class="text-justify fs-6">
                    Para comunicación sobre alianzas, eventos,
                    patrocinios y prensa por favor contacta a:
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-4">
                <h6 class="fw-bold text-muted">Captura los siguientes datos</h6>
                <form class="row gx-1" id="form-evento" style="min-width: 526px; max-width: 526px">
                    <div class="col-auto">
                        <div class="p-4">
                            <div class="form-floating">
                                <input asp-for="personaEvento.Nombre" id="Nombre" type="text" class="form-control form-control-sm border-0 border-bottom" placeholder="" />
                                <label asp-for="personaEvento.Nombre"> Nombre*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="p-4">
                            <div class="form-floating">
                                <input asp-for="personaEvento.Telefono" id="Telefono" type="text" class="form-control form-control-sm border-0 border-bottom" placeholder="" />
                                <label asp-for="personaEvento.Telefono">Telefono*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="p-4">
                            <div class="form-floating">
                                <input asp-for="personaEvento.Email" id="Email" type="email" class="form-control form-control-sm border-0 border-bottom" placeholder="" />
                                <label asp-for="personaEvento.Email">Email*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="p-4">
                            <div class="form-floating">
                                <input asp-for="personaEvento.Empresa" id="Empresa" type="text" class="form-control form-control-sm border-0 border-bottom" placeholder="" />
                                <label asp-for="personaEvento.Empresa">Empresa*</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="w-75 btn btn-primary" data-bs-toggle="modal" data-bs-target="#Message">Guardar</button>
                        </div>
                    </div>
                    <div class="modal fade" id="Message">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                            <div class="modal-content col-md-12">
                                <div class="modal-header" id="modal-header">
                                    <div class="container-fluid text-center">
                                        <div class="alert alert-success col-12" id="alert"></div>
                                    </div>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <div class="container-fluid">
                                        <div class="d-flex justify-content-center align-items-center text-danger" id="modal-body">
                                            <div asp-validation-summary="All"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" id="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>