@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="p-5">
    <div class="p-3">
        <h3 class="fw-bold fs-6">Ayudanos a llenar la información de la persona que paga el seguro</h3>
    </div>
    <div class="card flex-row">
        <div class="card-body">
            <div class="col-md-auto">
                <form class="row g-md-3 w-100" asp-page-handler="RequestAjax" method="post" id="IndexForm">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="Nombre" asp-for="Asegurado.Nombre" type="text" class="fs-6 form-control form-control-sm border-info" placeholder="" />
                            <label class="text-primary-emphasis" asp-for="Asegurado.Nombre">Nombre(s)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="ApellidoPaterno" asp-for="Asegurado.ApellidoPaterno" type="text" class="fs-6 form-control form-control-sm border-info" placeholder="" />
                            <label class="text-primary-emphasis" asp-for="Asegurado.ApellidoPaterno">ApellidoPaterno</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="ApellidoMaterno" asp-for="Asegurado.ApellidoMaterno" type="text" class="form-control form-control-sm border-info" placeholder="" />
                            <label asp-for="Asegurado.ApellidoMaterno">ApellidoMaterno</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row gx-1">
                            <div class="col-xxl-6">
                                <div class="col">
                                    <label asp-for="Asegurado.EstadoCivil"><h6>Estado Civil</h6></label>
                                </div>
                                <select id="EstadoCivil" asp-for="Asegurado.EstadoCivil" class="form-select border-info text-info" placeholder="">
                                    <option selected value="">Selecciona</option>
                                    <option value="Soltero">Solter(@@)</option>
                                    <option value="Casado">Casad(@@)</option>
                                    <option value="Viudo">Viudo(@@)</option>
                                    <option value="Divorciado">Divorciad(@@)</option>
                                </select>
                            </div>
                            <div class="col-xxl-6">
                                <div class="col">
                                    <label asp-for="Asegurado.Genero"><h6>Género</h6></label>
                                </div>
                                @Html.DropDownListFor(model => model.Asegurado.Genero, new List<SelectListItem> { new SelectListItem { Text = "Hombre", Value = "M" }, new SelectListItem { Text = "Mujer", Value = "F" } }, "Seleccione", htmlAttributes: new { @class = "form-select border-info text-info", @id="Genero" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-sm-2">
                        <div class="row gx-1 gap-2">
                            <label asp-for="Asegurado.FechaNacimiento"><h6 class="col-sm-12">Fecha Nacimiento</h6></label>
                            <div class="col-lg">
                                <select class="form-select border-info text-info" asp-for="dia" id="dia" disabled>
                                    <option selected value="0">Día</option>
                                </select>
                                <label class="visually-hidden" asp-for="dia"></label>
                                <span asp-validation-for="dia"></span>
                            </div>
                            <div class="col-lg">
                                <select class="form-select border-info text-info text-capitalize" asp-for="mes" id="mes" disabled>
                                    <option selected value="0">Mes</option>
                                </select>
                                <label class="visually-hidden" asp-for="mes"></label>
                                <span asp-validation-for="mes"></span>
                            </div>
                            <div class="col-lg">
                                <select class="form-select border-info text-info" asp-for="year" id="año">
                                    <option selected value="0">Año</option>
                                </select>
                                <label class="visually-hidden" asp-for="year"></label>
                                <span asp-validation-for="year"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-sm-2">
                        <div class="row gx-1">
                            <h6 class="col-sm-12">Entidad de nacimiento</h6>
                            <div class="col-sm">
                                <select class="form-select border-info text-info" name="Entidad" id="Entidad">
                                    <option selected value="0">Seleccione una opcion</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="CURP" asp-for="Asegurado.CURP" type="text" class="fs-6 form-control form-control-sm border-info" placeholder="" />
                            <label asp-for="Asegurado.CURP">CURP</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="RFC" asp-for="Asegurado.RFC" type="text" class="fs-6 form-control form-control-sm border-info" placeholder="" />
                            <label asp-for="Asegurado.RFC">RFC</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="Telefono" asp-for="Asegurado.Telefono" type="text" class="fs-6 form-control form-control-sm border-info" placeholder="" />
                            <label asp-for="Asegurado.Telefono">Telefono</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input id="Email" asp-for="Asegurado.Correo" type="text" class="fs-6 form-control form-control-sm border-info" placeholder="" />
                            <label class="fs-6 text-nowrap" asp-for="Asegurado.Correo">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-secondary w-50 text-nowrap" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div asp-validation-summary="All" id="summary" class="text-danger"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>