<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PáginaAzul</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PáginaAzul.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="">
                        <img alt="logo" />
                    </div>
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="container-fluid overflow-scroll">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </section>
    <footer class="border-top overflow-scroll footer text-white">
        <div class="container-fluid bg-info">
            <div class="d-flex justify-content-evenly">
                <div class="text-capitalize d-flex flex-column justify-content-evenly flex-wrap">
                    <img src="" alt=""/>
                    <b>Siguenos</b>
                </div>
                <div class="text-capitalize d-flex flex-column flex-wrap justify-content-evenly">
                    <b>AHM</b>
                    <div>
                        Comunidad
                    </div>
                    <div>Sobre nosotros</div>
                </div>
                <div class="text-capitalize d-flex flex-column flex-wrap justify-content-evenly">
                    <b>¿Para quién lo hacemos</b>
                    <div>Nuestra mision</div>
                    <div>Objetivos</div>
                    <div>Vision</div>
                    <div>Valores</div>
                </div>
                <div class="text-capitalize d-flex flex-column flex-wrap justify-content-evenly">
                    <b>Iniciativas</b>
                    <b>Miembros</b>
                    <b>Registro</b>
                    <b>Eventos</b>
                    <b>Aviso de privacidad</b>
                </div>
            </div>
        </div>
        <div class="border border-top-1 border-3 border-white"></div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>